@import "../style/variables";

.about {
  .photo {
    width: 230px;
    height: 230px;
    margin: 0 auto 20px;
    border-radius: 50%;
    outline: 2px solid $color-primary;
    box-shadow: 0 0 40px $color-white-50;
  }

  .name {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 4px;
  }

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
