@use "sass:math";
@import "../style/variables";
@import "../style/mixins";

.the-movie {
  color: $color-white-50;
  display: flex;
  gap: 70px;

  @include tablet {
    gap: 30px;
  }
}

.the-movie .poster {
  flex-shrink: 0;
  $width: 500px;

  @include tablet {
    $width: 300px;
  }

  width: $width;
  height: math.div($width * 3, 2);
  border-radius: 10px;
  background-size: cover;
  background-color: $color-area;
}

.the-movie .specs {
  flex-grow: 1;
}

.the-movie .title {
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  line-height: 1;
  color: $color-white;
  margin-bottom: 30px;

  &.skeleton {
    height: 70px;
  }
}

.the-movie .labels {
  color: $color-primary;
  margin-bottom: 20px;

  &.skeleton {
    height: 30px;
  }
}

.the-movie .plot.skeleton {
  width: 80%;
  height: 400px;
}
.the-movie h3 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: $color-white;
  margin: 24px 0 6px;
}

@media screen and (max-width: 720px) {
  .the-movie {
    display: block;
  }
  .the-movie .title {
    font-size: 50px;
    margin-top: 50px;
  }
}
