@import "../../style/variables";

.movie-list {
  padding: 20px;
  border-radius: 4px;
  background-color: $color-area;

  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
