@import "../../style/variables";

input {
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 14px;
  color: $color-white;
  background-color: $color-area;

  &::placeholder {
    color: $color-white-30;
  }
}
